// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
   /** primary **/
   --ion-color-white: #ffffff;
   --ion-color-white-rgb: 255, 255, 255;
   --ion-color-white-contrast: #000000;
   --ion-color-white-contrast-rgb: 0, 0, 0;
   --ion-color-white-shade: #e0e0e0;
   --ion-color-white-tint: #ffffff;
 
   /** secondary **/
   --ion-color-aqua: #85e7ca;
   --ion-color-aqua-rgb: 133, 231, 202;
   --ion-color-aqua-contrast: #000000;
   --ion-color-aqua-contrast-rgb: 0, 0, 0;
   --ion-color-aqua-shade: #75cbb2;
   --ion-color-aqua-tint: #91e9cf;
 
   /** tertiaries **/
   --ion-color-coral: #ff7777;
   --ion-color-coral-rgb: 255, 119, 119;
   --ion-color-coral-contrast: #000000;
   --ion-color-coral-contrast-rgb: 0, 0, 0;
   --ion-color-coral-shade: #e06969;
   --ion-color-coral-tint: #ff8585;
 
   --ion-color-green: #54c689;
   --ion-color-green-rgb: 84, 198, 137;
   --ion-color-green-contrast: #000000;
   --ion-color-green-contrast-rgb: 0, 0, 0;
   --ion-color-green-shade: #4aae79;
   --ion-color-green-tint: #65cc95;
 
   --ion-color-purple: #8475e5;
   --ion-color-purple-rgb: 132, 117, 229;
   --ion-color-purple-contrast: #000000;
   --ion-color-purple-contrast-rgb: 0, 0, 0;
   --ion-color-purple-shade: #7467ca;
   --ion-color-purple-tint: #9083e8;
 
   --ion-color-yellow: #fdf185;
   --ion-color-yellow-rgb: 253, 241, 133;
   --ion-color-yellow-contrast: #000000;
   --ion-color-yellow-contrast-rgb: 0, 0, 0;
   --ion-color-yellow-shade: #dfd475;
   --ion-color-yellow-tint: #fdf291;
 
   --ion-color-orange: #f39652;
   --ion-color-orange-rgb: 243, 150, 82;
   --ion-color-orange-contrast: #000000;
   --ion-color-orange-contrast-rgb: 0, 0, 0;
   --ion-color-orange-shade: #d68448;
   --ion-color-orange-tint: #f4a163;
 
   --ion-color-pink: #ffa6dc;
   --ion-color-pink-rgb: 255, 166, 220;
   --ion-color-pink-contrast: #000000;
   --ion-color-pink-contrast-rgb: 0, 0, 0;
   --ion-color-pink-shade: #e092c2;
   --ion-color-pink-tint: #ffafe0;
 
   /** Backgrounds **/
   --ion-color-black: #101014;
   --ion-color-black-rgb: 16, 16, 20;
   --ion-color-black-contrast: #ffffff;
   --ion-color-black-contrast-rgb: 255, 255, 255;
   --ion-color-black-shade: #0e0e12;
   --ion-color-black-tint: #28282c;
 
   --ion-color-backgroundgray1: #1c1c22;
   --ion-color-backgroundgray1-rgb: 28, 28, 34;
   --ion-color-backgroundgray1-contrast: #ffffff;
   --ion-color-backgroundgray1-contrast-rgb: 255, 255, 255;
   --ion-color-backgroundgray1-shade: #19191e;
   --ion-color-backgroundgray1-tint: #333338;
 
   --ion-color-backgroundgray2: #27272e;
   --ion-color-backgroundgray2-rgb: 39, 39, 46;
   --ion-color-backgroundgray2-contrast: #ffffff;
   --ion-color-backgroundgray2-contrast-rgb: 255, 255, 255;
   --ion-color-backgroundgray2-shade: #222228;
   --ion-color-backgroundgray2-tint: #3d3d43;
 
   --ion-color-backgroundgray3: #68686f;
   --ion-color-backgroundgray3-rgb: 104, 104, 111;
   --ion-color-backgroundgray3-contrast: #ffffff;
   --ion-color-backgroundgray3-contrast-rgb: 255, 255, 255;
   --ion-color-backgroundgray3-shade: #5c5c62;
   --ion-color-backgroundgray3-tint: #77777d;
 
   --ion-color-backgroundgray4: #8a8a92;
   --ion-color-backgroundgray4-rgb: 138, 138, 146;
   --ion-color-backgroundgray4-contrast: #000000;
   --ion-color-backgroundgray4-contrast-rgb: 0, 0, 0;
   --ion-color-backgroundgray4-shade: #797980;
   --ion-color-backgroundgray4-tint: #96969d;
 
   /** Light Gray **/
   --ion-color-lightgray1: #b8c1d8;
   --ion-color-lightgray1-rgb: 184, 193, 216;
   --ion-color-lightgray1-contrast: #000000;
   --ion-color-lightgray1-contrast-rgb: 0, 0, 0;
   --ion-color-lightgray1-shade: #a2aabe;
   --ion-color-lightgray1-tint: #bfc7dc;
 
   --ion-color-lightgray2: #8a94ad;
   --ion-color-lightgray2-rgb: 138, 148, 173;
   --ion-color-lightgray2-contrast: #000000;
   --ion-color-lightgray2-contrast-rgb: 0, 0, 0;
   --ion-color-lightgray2-shade: #798298;
   --ion-color-lightgray2-tint: #969fb5;
 
   --ion-color-lightgray3: #6b7694;
   --ion-color-lightgray3-rgb: 107, 118, 148;
   --ion-color-lightgray3-contrast: #ffffff;
   --ion-color-lightgray3-contrast-rgb: 255, 255, 255;
   --ion-color-lightgray3-shade: #5e6882;
   --ion-color-lightgray3-tint: #7a849f;
 
   --ion-color-lightgray4: #475169;
   --ion-color-lightgray4-rgb: 71, 81, 105;
   --ion-color-lightgray4-contrast: #ffffff;
   --ion-color-lightgray4-contrast-rgb: 255, 255, 255;
   --ion-color-lightgray4-shade: #3e475c;
   --ion-color-lightgray4-tint: #596278;
 
   --ion-color-lightgray5: #292e3a;
   --ion-color-lightgray5-rgb: 41, 46, 58;
   --ion-color-lightgray5-contrast: #ffffff;
   --ion-color-lightgray5-contrast-rgb: 255, 255, 255;
   --ion-color-lightgray5-shade: #242833;
   --ion-color-lightgray5-tint: #3e434e;
 
   --ion-color-lightgray6: #222733;
   --ion-color-lightgray6-rgb: 34, 39, 51;
   --ion-color-lightgray6-contrast: #ffffff;
   --ion-color-lightgray6-contrast-rgb: 255, 255, 255;
   --ion-color-lightgray6-shade: #1e222d;
   --ion-color-lightgray6-tint: #383d47;
 
 
 
   ion-content {
     --ion-background-color: var(--ion-color-black);
     --color: var(--ion-color-lightgray1);
     --ion-font-family: 'Plus Jakarta Sans', sans-serif;
   }
}

// @media (prefers-color-scheme: dark) {
//   /*
//    * Dark Colors
//    * -------------------------------------------
//    */

//   body {
//     --ion-color-primary: #428cff;
//     --ion-color-primary-rgb: 66,140,255;
//     --ion-color-primary-contrast: #ffffff;
//     --ion-color-primary-contrast-rgb: 255,255,255;
//     --ion-color-primary-shade: #3a7be0;
//     --ion-color-primary-tint: #5598ff;

//     --ion-color-secondary: #50c8ff;
//     --ion-color-secondary-rgb: 80,200,255;
//     --ion-color-secondary-contrast: #ffffff;
//     --ion-color-secondary-contrast-rgb: 255,255,255;
//     --ion-color-secondary-shade: #46b0e0;
//     --ion-color-secondary-tint: #62ceff;

//     --ion-color-tertiary: #6a64ff;
//     --ion-color-tertiary-rgb: 106,100,255;
//     --ion-color-tertiary-contrast: #ffffff;
//     --ion-color-tertiary-contrast-rgb: 255,255,255;
//     --ion-color-tertiary-shade: #5d58e0;
//     --ion-color-tertiary-tint: #7974ff;

//     --ion-color-success: #2fdf75;
//     --ion-color-success-rgb: 47,223,117;
//     --ion-color-success-contrast: #000000;
//     --ion-color-success-contrast-rgb: 0,0,0;
//     --ion-color-success-shade: #29c467;
//     --ion-color-success-tint: #44e283;

//     --ion-color-warning: #ffd534;
//     --ion-color-warning-rgb: 255,213,52;
//     --ion-color-warning-contrast: #000000;
//     --ion-color-warning-contrast-rgb: 0,0,0;
//     --ion-color-warning-shade: #e0bb2e;
//     --ion-color-warning-tint: #ffd948;

//     --ion-color-danger: #ff4961;
//     --ion-color-danger-rgb: 255,73,97;
//     --ion-color-danger-contrast: #ffffff;
//     --ion-color-danger-contrast-rgb: 255,255,255;
//     --ion-color-danger-shade: #e04055;
//     --ion-color-danger-tint: #ff5b71;

//     --ion-color-dark: #f4f5f8;
//     --ion-color-dark-rgb: 244,245,248;
//     --ion-color-dark-contrast: #000000;
//     --ion-color-dark-contrast-rgb: 0,0,0;
//     --ion-color-dark-shade: #d7d8da;
//     --ion-color-dark-tint: #f5f6f9;

//     --ion-color-medium: #989aa2;
//     --ion-color-medium-rgb: 152,154,162;
//     --ion-color-medium-contrast: #000000;
//     --ion-color-medium-contrast-rgb: 0,0,0;
//     --ion-color-medium-shade: #86888f;
//     --ion-color-medium-tint: #a2a4ab;

//     --ion-color-light: #222428;
//     --ion-color-light-rgb: 34,36,40;
//     --ion-color-light-contrast: #ffffff;
//     --ion-color-light-contrast-rgb: 255,255,255;
//     --ion-color-light-shade: #1e2023;
//     --ion-color-light-tint: #383a3e;
//   }

//   /*
//    * iOS Dark Theme
//    * -------------------------------------------
//    */

//   .ios body {
//     --ion-background-color: #000000;
//     --ion-background-color-rgb: 0,0,0;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255,255,255;

//     --ion-color-step-50: #0d0d0d;
//     --ion-color-step-100: #1a1a1a;
//     --ion-color-step-150: #262626;
//     --ion-color-step-200: #333333;
//     --ion-color-step-250: #404040;
//     --ion-color-step-300: #4d4d4d;
//     --ion-color-step-350: #595959;
//     --ion-color-step-400: #666666;
//     --ion-color-step-450: #737373;
//     --ion-color-step-500: #808080;
//     --ion-color-step-550: #8c8c8c;
//     --ion-color-step-600: #999999;
//     --ion-color-step-650: #a6a6a6;
//     --ion-color-step-700: #b3b3b3;
//     --ion-color-step-750: #bfbfbf;
//     --ion-color-step-800: #cccccc;
//     --ion-color-step-850: #d9d9d9;
//     --ion-color-step-900: #e6e6e6;
//     --ion-color-step-950: #f2f2f2;

//     --ion-item-background: #000000;

//     --ion-card-background: #1c1c1d;
//   }

//   .ios ion-modal {
//     --ion-background-color: var(--ion-color-step-100);
//     --ion-toolbar-background: var(--ion-color-step-150);
//     --ion-toolbar-border-color: var(--ion-color-step-250);
//   }


//   /*
//    * Material Design Dark Theme
//    * -------------------------------------------
//    */

//   .md body {
//     --ion-background-color: #121212;
//     --ion-background-color-rgb: 18,18,18;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255,255,255;

//     --ion-border-color: #222222;

//     --ion-color-step-50: #1e1e1e;
//     --ion-color-step-100: #2a2a2a;
//     --ion-color-step-150: #363636;
//     --ion-color-step-200: #414141;
//     --ion-color-step-250: #4d4d4d;
//     --ion-color-step-300: #595959;
//     --ion-color-step-350: #656565;
//     --ion-color-step-400: #717171;
//     --ion-color-step-450: #7d7d7d;
//     --ion-color-step-500: #898989;
//     --ion-color-step-550: #949494;
//     --ion-color-step-600: #a0a0a0;
//     --ion-color-step-650: #acacac;
//     --ion-color-step-700: #b8b8b8;
//     --ion-color-step-750: #c4c4c4;
//     --ion-color-step-800: #d0d0d0;
//     --ion-color-step-850: #dbdbdb;
//     --ion-color-step-900: #e7e7e7;
//     --ion-color-step-950: #f3f3f3;

//     --ion-item-background: #1e1e1e;

//     --ion-toolbar-background: #1f1f1f;

//     --ion-tab-bar-background: #1f1f1f;

//     --ion-card-background: #1e1e1e;
//   }
// }

// html {
//   /* 
//    * For more information on dynamic font scaling, visit the documentation:
//    * https://ionicframework.com/docs/layout/dynamic-font-scaling
//    */
//   --ion-dynamic-font: var(--ion-default-dynamic-font);
// }