.newo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
   img {
    width: 40%;
   }
}

.container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
  }

  .qrDisabled {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    img {
      opacity: 0.1;
      grid-column: 1 / 3;
      grid-row: 1;
    }

    p {
      grid-column: 1/3;
      grid-row: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}

.downloadBtns {
  display: flex;
  gap: 16px;
  justify-content: center;

  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 85%;
  }
}
h1 {
  text-align: center;
  height: 5vh;
}